body {
  background: rgb(18, 18, 24);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  flex-direction: column;
  .container {
    width: 280px;
    min-height: 320px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }
}

.flask {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  min-width: 30px;
  height: 115px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 2px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-radius: 2px;
    transform: translate(-35%, 0%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    border-radius: 2px;
    transform: translate(35%, 0%);
  }
  &--active {
    transform: translateY(-20px);
  }
}

.water-block {
  width: 25px;
  height: 25px;
  &:last-child {
    border-radius: 0 0 4px 4px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.success {
  color: #fff;
  margin-bottom: 10px;
}

.next-level {
  cursor: pointer;
  color: rgb(247, 118, 182);
  text-align: center;
}
