@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 20px;
}

body {
  background: rgb(18, 18, 24);
  font-family: "Fredoka One", sans-serif;
  color: #fff;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 600px;
  flex-direction: column;
  .container {
    width: 280px;
    min-height: 320px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
  }
}

.flask {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background: rgb(255, 255, 255);
  min-width: 30px;
  height: 115px;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
  padding: 2px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    border-radius: 2px;
    transform: translate(-35%, 0%);
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    width: 10px;
    height: 10px;
    clip-path: polygon(100% 0, 0 0, 0 100%);
    border-radius: 2px;
    transform: translate(35%, 0%);
  }
  &--active {
    transform: translateY(-20px);
  }
}

.water-block {
  width: 25px;
  height: 25px;
  &:last-child {
    border-radius: 0 0 4px 4px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.success {
  color: #fff;
  margin-bottom: 10px;
}

.progress-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  padding: 100px;
}
.button {
  cursor: pointer;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.075);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  transition: background 0.3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.144);
  }
}

.nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 30px;
  gap: 20px;
  @media screen and (max-width: 400px) {
    left: 0;
  }
  .level {
    font-size: 32px;
  }
  .button {
    margin: 0;
  }
}

.levels {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.levels-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgb(53, 54, 66);
  padding: 20px 20px 40px 20px;
  z-index: 99;
  border-radius: 10px;
  width: 250px;
  align-items: center;
  .close {
    align-self: flex-end;
    cursor: pointer;
  }
  .menu-level {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8947dd;
  }
}
